#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.displayBtns {
  display: inline-flex;
  gap: 40px;
}
.displayBtns button {
  font-size: 40px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
